## Sesi√≥n 05

### Procesamiento de Datos con Python 
### FES Aragon
### ICO
### Paola Barron Leyva

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("datos/alumnos_calif.json")
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN

In [5]:
df['estado'] = df.curp.str[11:13]
df['gpa'] = (((df['calificacion']*100)/df['calificacion'].max())/20) -1
gpa_rango = [1, 1.7, 2.4, 3.3, 4.1]
gpa_etiqueta = ['D', 'C', 'B', 'A']
df['gpa_escala'] = pd.cut(df['gpa'], bins=gpa_rango, labels=gpa_etiqueta)
sti = pd.date_range('2023-01-01', periods=df.clave_alu.count(), freq='2m')
df['fecha'] = sti
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [6]:
df.isnull()

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,False,False,False,False,False,False,False,False,True,True,False,False,False
1,False,False,False,False,False,False,True,False,True,True,False,False,False
2,False,False,False,False,False,False,False,False,True,True,False,False,False
3,False,False,False,False,False,False,True,False,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,True,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,True,True,False,False,False
8,False,False,False,False,False,False,False,True,False,False,True,True,False
9,False,False,False,False,True,False,False,False,False,False,False,False,False
10,False,False,False,False,True,True,True,False,True,True,False,False,False
11,False,False,False,False,True,True,True,False,True,True,False,False,False
12,False,False,False,False,True,True,True,False,True,True,False,False,False

In [7]:
df.isnull().sum()

clave_alu       0
ap_paterno      0
ap_materno      0
nombre          0
sexo            4
ciudad          4
email           5
calificacion    1
curp            8
estado          8
gpa             1
gpa_escala      1
fecha           0
dtype: int64

In [8]:
df_na = df.copy()
df_na.dropna()

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30

In [9]:
df_na

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [11]:
df_na.dropna(axis=1)

    clave_alu ap_paterno ap_materno          nombre      fecha
0    11030172   BORBOLLA      RAMOS         ARGELIA 2023-01-31
1    11030173     CASTRO    MANCERA   KARLA MARIANA 2023-03-31
2    11030177   FERRUSCA    ANDRADE         OCTAVIO 2023-05-31
3    11030178     GARCIA      GOMEZ          RAFAEL 2023-07-31
4    11030180  GUTIERREZ     FLORES    CARLOS DAVID 2023-09-30
5    11030183    JIMENEZ   CARRILLO  RAMON HUMBERTO 2023-11-30
6    11030188   MARTINEZ     RIVERA    JAVIER JOSUE 2024-01-31
7    11030199    ROSALES     APREZA   NESTOR MARTIN 2024-03-31
8    11030201     SUAREZ    SANCHEZ           ROCIO 2024-05-31
9    11030204    VAZQUEZ   GONZALEZ         ROBERTO 2024-07-31
10   14080001      MEJIA    JIMENEZ           LUISA 2024-09-30
11   14080002      MEJIA    JIMENEZ           LUISA 2024-11-30
12   14080003      MEJIA    JIMENEZ           LUISA 2025-01-31

In [10]:
df_na[df_na['curp'].isnull()]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [12]:
df_na[df_na.isnull().any(axis = 1)]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [10]:
df_na['ciudad']= df_na.ciudad.fillna('SIN CD')
df_na

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [11]:
df_nac=df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.mean()), 1)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,6.2,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [12]:
df_nac=df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.min()), 1)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [13]:
df_nac=df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.mean()), 3)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.000,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.700,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.300,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.000,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.000,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.200,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.000,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.000,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,6.242,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.700,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.000,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.000,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.000,NaN,NaN,1.577320,D,2025-01-31

In [14]:
df_nac=df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.min()), 3)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [15]:
#Reemplazar valores
df_nac=df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.min()), 1)
df['calificacion'] = round(df.calificacion.fillna(df.calificacion.min()), 1)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [16]:
#Reemplazar valores
df['ciudad'] = df['ciudad'].replace({"QUERETARO QRO.":"QUERETARO"})
df['ciudad'] = df['ciudad'].replace({"SANTIAGO DE QUERETARO":"QUERETARO"})
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [17]:
df['ciudad'] = df['ciudad'].replace({"SANTIAGO DE QUERETARO":"QUERETARO", "QUERETARO QRO.":"QUERETARO"})
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [18]:
df['email']=df['email'].replace(to_replace="email.com", value="aragon.unam.mx", regex=True)
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [19]:
df_na['email']=df_na['email'].str.upper()
df_na

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,ARGI_GOGOS@EMAIL.COM,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,TAVOFERRUS_11@EMAIL.COM,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,CHOROK_SKP91@EMAIL.COM,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,RAMONO555@HIMAIL.COM,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,MARKA@EMAIL.COM,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,NESTORIWH@HOTMAI.COM,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,OSSUAREZ@AOL.COM,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,ROB_VAZ03@EMAIL.COM,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [20]:
df['ciudad'] = df['ciudad'].replace({"SANTIAGO DE QUERETARO":"QUERETARO", "QUERETARO QRO.":"QUERETARO"})
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [21]:
df['ciudad']=df['ciudad'].str.strip()
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [22]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
dtype: bool

In [24]:
s_dup=df.duplicated(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'],keep='last')
s_dup

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
dtype: bool

In [25]:
df[s_dup]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-11-30

In [26]:
df.drop_duplicates(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'],keep='last',inplace=True)
df.count()

clave_alu       11
ap_paterno      11
ap_materno      11
nombre          11
sexo             9
ciudad           9
email            8
calificacion    11
curp             5
estado           5
gpa             10
gpa_escala      10
fecha           11
dtype: int64

In [27]:
df['ciudad'].unique()

array(['QUERETARO', 'GUADALAJARA', nan], dtype=object)

In [28]:
df['ciudad'].value_counts(dropna=False)

QUERETARO      7
GUADALAJARA    2
NaN            2
Name: ciudad, dtype: int64

In [29]:
df['calificacion']>5

0     False
1      True
2      True
3     False
4     False
5      True
6      True
7     False
8     False
9      True
12    False
Name: calificacion, dtype: bool

In [30]:
df[df['calificacion']>5].sort_values(by='calificacion', ascending=False)

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30

In [31]:
df[df['calificacion']>5].sort_values(by=["sexo",'calificacion'], ascending=[True,False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31

In [32]:
filtro_calificacion =df['calificacion']>5
filtro_ciudad = df['ciudad']!= 'QUERETARO'

df[filtro_calificacion&filtro_ciudad].sort_values(by=["sexo",'calificacion'], ascending=[True,False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31

In [33]:
#filtro por fecha
from datetime import datetime
df[df['fecha']>= datetime(year=2024, month=4,day=1)].sort_values('fecha')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.00000,A,2024-07-31
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31

In [34]:
df[df['nombre'].isin(['ROBERTO', 'LUISA']) & ~ filtro_calificacion]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31

In [35]:
df[~df['nombre'].isin(['ROBERTO', 'LUISA']) & filtro_calificacion][['nombre','gpa_escala']]

           nombre gpa_escala
1   KARLA MARIANA          A
2         OCTAVIO          B
5  RAMON HUMBERTO          C
6    JAVIER JOSUE          B

In [36]:
df['lista_email'] = df.email.str.split('@')
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.unam.mx]"
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.unam.mx]"
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.unam.mx]"
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]"
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.unam.mx]"
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]"
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]"
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.unam.mx]"
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN

In [37]:
df['lista_email'].tolist()

[['argi_gogos', 'aragon.unam.mx'],
 nan,
 ['tavoferrus_11', 'aragon.unam.mx'],
 nan,
 ['chorok_skp91', 'aragon.unam.mx'],
 ['ramono555', 'himail.com'],
 ['marka', 'aragon.unam.mx'],
 ['nestoriwh', 'hotmai.com'],
 ['ossuarez', 'aol.com'],
 ['rob_vaz03', 'aragon.unam.mx'],
 nan]

In [38]:
df['lista_email'].fillna('', inplace=True)
print(df['lista_email'].map(len).max())
df['lista_email']

2

0        [argi_gogos, aragon.unam.mx]
1
2     [tavoferrus_11, aragon.unam.mx]
3
4      [chorok_skp91, aragon.unam.mx]
5             [ramono555, himail.com]
6             [marka, aragon.unam.mx]
7             [nestoriwh, hotmai.com]
8                 [ossuarez, aol.com]
9         [rob_vaz03, aragon.unam.mx]
12
Name: lista_email, dtype: object

In [39]:
df_mail = pd.DataFrame(df['lista_email'].fillna('').tolist()).add_prefix('email_')
df_mail

          email_0         email_1
0      argi_gogos  aragon.unam.mx
1            None            None
2   tavoferrus_11  aragon.unam.mx
3            None            None
4    chorok_skp91  aragon.unam.mx
5       ramono555      himail.com
6           marka  aragon.unam.mx
7       nestoriwh      hotmai.com
8        ossuarez         aol.com
9       rob_vaz03  aragon.unam.mx
10           None            None

In [40]:
df_concat = pd.concat([df,df_mail], axis=1)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,email_0,email_1
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.unam.mx]",argi_gogos,aragon.unam.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.unam.mx]",tavoferrus_11,aragon.unam.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.unam.mx]",chorok_skp91,aragon.unam.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.unam.mx]",marka,aragon.unam.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]",nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.unam.mx]",rob_vaz03,aragon.unam.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,None,None

In [41]:
df_concat.drop(['lista_email'], axis=1, inplace=True)
df_concat.rename(columns={'email_0':'usuario', 'email_1':'dominio'}, inplace=True)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,usuario,dominio
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,argi_gogos,aragon.unam.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,tavoferrus_11,aragon.unam.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,chorok_skp91,aragon.unam.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,marka,aragon.unam.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,rob_vaz03,aragon.unam.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,None,None

In [42]:
df.groupby(['estado'],dropna=False)['clave_alu'].agg('count')

estado
DF     1
PP     1
QT     2
SP     1
NaN    6
Name: clave_alu, dtype: int64

NameError: name 'df_estado' is not defined

In [47]:
#LEFT muestra todo lo de la izquierda aunque no coincida la llave
pd.merge(df,df_estado, left_on='estado', right_on='ABREVIATURA', how='left')

NameError: name 'df_estado' is not defined

In [48]:
#Right muestra todo lo de la derecha aunque no coincida con la llave
pd.merge(df, df_estado, left_on="estado", right_on="ABREVIATURA", how="right")

NameError: name 'df_estado' is not defined

In [49]:
#Outer muestra todo aunque no coincida con la llave
pd.merge(df, df_estado, left_on="estado", right_on="ABREVIATURA", how="outer")

NameError: name 'df_estado' is not defined

In [30]:
# Drop los valores duplicados
df.drop_duplicates(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'], keep='last', implace=True)
df.count()

TypeError: DataFrame.drop_duplicates() got an unexpected keyword argument 'implace'

In [31]:
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [32]:
df['ciudad'].unique()

array(['QUERETARO', 'GUADALAJARA', nan], dtype=object)

In [33]:
#Ver la frecuencia de valores unicos de una columna
df['ciudad'].value_counts(dropna=False)

QUERETARO      7
NaN            4
GUADALAJARA    2
Name: ciudad, dtype: int64

In [38]:
#Filtrar y ordenar
df[df['calificacion'] > 5].sort_values(by='calificacion',ascending=False)

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30

In [46]:
#Filtrar y ordenar
df[df['calificacion'] > 5].sort_values(by=['sexo', 'calificacion'],ascending=[True, False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31

In [48]:
filtro_calificacion = df['calificacion'] > 5
#filtro_ciudad = not(df['ciudad'].isnull)
filtro_ciudad = df['ciudad'] !='QUERETARO'

In [49]:
#Filtrar y ordenar
df[df['calificacion'] > 5].sort_values(by=['ciudad', 'calificacion'],ascending=[True, False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31

In [50]:
#Filtro por fecha
from datetime import datetime
df[df['fecha'] >= datetime(year=2024, month=4, day=1)].sort_values(by='fecha')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.00000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31

In [50]:
df[df['nombre'].isin(['ROBERTO', 'LUISA']) & ~ filtro_calificacion]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31,

In [51]:
df[~df['nombre'].isin(['ROBERTO', 'LUISA']) & filtro_calificacion][['nombre','gpa_escala']]

           nombre gpa_escala
1   KARLA MARIANA          A
2         OCTAVIO          B
5  RAMON HUMBERTO          C
6    JAVIER JOSUE          B

In [52]:
df['lista_email'] = df.email.str.split('@')
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.unam.mx]"
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.unam.mx]"
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.unam.mx]"
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]"
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.unam.mx]"
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]"
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]"
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.unam.mx]"
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN

In [53]:
df['lista_email'].tolist()

[['argi_gogos', 'aragon.unam.mx'],
 nan,
 ['tavoferrus_11', 'aragon.unam.mx'],
 nan,
 ['chorok_skp91', 'aragon.unam.mx'],
 ['ramono555', 'himail.com'],
 ['marka', 'aragon.unam.mx'],
 ['nestoriwh', 'hotmai.com'],
 ['ossuarez', 'aol.com'],
 ['rob_vaz03', 'aragon.unam.mx'],
 nan]

In [54]:
df['lista_email'].fillna('', inplace=True)
print(df['lista_email'].map(len).max())
df['lista_email']

2

0        [argi_gogos, aragon.unam.mx]
1
2     [tavoferrus_11, aragon.unam.mx]
3
4      [chorok_skp91, aragon.unam.mx]
5             [ramono555, himail.com]
6             [marka, aragon.unam.mx]
7             [nestoriwh, hotmai.com]
8                 [ossuarez, aol.com]
9         [rob_vaz03, aragon.unam.mx]
12
Name: lista_email, dtype: object

In [55]:
df_mail = pd.DataFrame(df['lista_email'].fillna('').tolist()).add_prefix('email_')
df_mail

          email_0         email_1
0      argi_gogos  aragon.unam.mx
1            None            None
2   tavoferrus_11  aragon.unam.mx
3            None            None
4    chorok_skp91  aragon.unam.mx
5       ramono555      himail.com
6           marka  aragon.unam.mx
7       nestoriwh      hotmai.com
8        ossuarez         aol.com
9       rob_vaz03  aragon.unam.mx
10           None            None

In [56]:
df_concat = pd.concat([df,df_mail], axis=1)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,email_0,email_1
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.unam.mx]",argi_gogos,aragon.unam.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.unam.mx]",tavoferrus_11,aragon.unam.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.unam.mx]",chorok_skp91,aragon.unam.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.unam.mx]",marka,aragon.unam.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]",nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.unam.mx]",rob_vaz03,aragon.unam.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,None,None

In [57]:
df_concat.drop(['lista_email'], axis=1, inplace=True)
df_concat.rename(columns={'email_0':'usuario', 'email_1':'dominio'}, inplace=True)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,usuario,dominio
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.unam.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,argi_gogos,aragon.unam.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.unam.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,tavoferrus_11,aragon.unam.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.unam.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,chorok_skp91,aragon.unam.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.unam.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,marka,aragon.unam.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.unam.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,rob_vaz03,aragon.unam.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,None,None

In [58]:
df.groupby(['estado'],dropna=False)['clave_alu'].agg('count')

estado
DF     1
PP     1
QT     2
SP     1
NaN    6
Name: clave_alu, dtype: int64

In [ ]:
df_estado = pd.read_csv("estados_curp.csv")
df_estado

In [ ]:
pd.merge(df,df_estado, left_on='estado', right_on='ABREVIATURA', how='inner')

In [ ]:
pd.merge(df,df_estado, left_on='estado', right_on='ABREVIATURA', how='left')

In [ ]:
pd.merge(df, df_estado, left_on="estado", right_on="ABREVIATURA", how="right")

In [ ]:
pd.merge(df, df_estado, left_on="estado", right_on="ABREVIATURA", how="outer")